<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="sketch.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <div id = "canvas-container">

      </div>
      <div id="button-container" style="display: flex;column-gap: 12px;"></div>

      <br/>

    <section>
      <div class="heading-example">Some popular patterns</div>
      <button class="button-6" id="bt3"></button>
      <button class="button-6" id="bt6"></button>
      <button class="button-6" id="bt7"></button>

      <!-- <button class="button-6" id="bt1"></button>
      <button class="button-6" id="bt2"></button> -->
  
      <!-- <button class="button-6" id="bt4"></button>
      <button class="button-6" id="bt5"></button> -->
     
      <!-- <button class="button-6" id="bt8"></button> -->

    

   </section>
  </body>
</html>